.masterhead {
    background-color: white;

    .bar {
        color: #707070;

        a {
          font-family: 'Raleway', sans-serif;
            color: #707070;
            text-decoration: none;
        }
    }
}

.portfoliosect {
  background-color: white;
}

.masterfoot {
  color: #707070;
  font-family: 'Raleway', sans-serif;
}

.hamburgermenu-sidebar > a {
  color: #707070;
}
